@import '~bootstrap/dist/css/bootstrap.min.css';

.row {
    margin: 0 !important;
}

.home-bg-img {
    background-image: linear-gradient(to right, 
    rgb(51, 51, 51, .8), 
    rgb(51, 51, 51, .8)), 
    url("assets/img/backgrounds/AFCEA_1.jpg");
    min-height: calc(100vh - 154px) !important;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .main-title {
      padding: 15%;
  }

  .main-title h5 {
      color: #fff;
      text-align: center;
  }

  .main-title h1 {
    color: #fff;
    font-size: 60px;
    text-align: center;
  }

  .get-started-btn {
      margin-top: 20px;
    color: #fff;
    border: 3px solid rgba(255, 255, 255, 0.7);
    background: rgba(54, 149, 210, 0.5);
    border-radius: 40px;
    height: 75px;
    width: 275px;
    font-size: 30px;
    transition: 300ms;
  }

  .get-started-btn:hover {
    color: #fff;
    border: 3px solid #fff;
    background: rgba(54, 149, 210, 1);
    transition: 300ms;

  }

.header {
    background: #3695d2;
    border-bottom: 3px solid #f26d6f;
}

.header-logo {
    height: 55px;
    margin: 15px;
}

.navbar {
    border-bottom: 4px solid #3695d2;
}

  .navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
  }
  /*  
  .navbar-nav > li {
    color: #4e4e4f !important;
    display: inline-block;
    float:none;
  }
  
  .nav-link {
    color: rgba(78, 78, 79, .8) !important;
    letter-spacing: 3px;
    font-size: 14px;
    padding-bottom: 15px;
    border-bottom: 3px solid transparent;
    transition: 400ms ease;
  }
  
  .nav-link:hover {
    color: #4e4e4f !important;
    border-bottom: 3px solid #f26d6f;
    transition: 400ms ease;
  } */
  
  .nav-item {
    margin: 0 20px;
  }

  .navbar-nav > li {
    color: #FEFEFE !important;
    display: inline-block;
    float:none;
  }
  
  .nav-link {
    color: #747474 !important;
    letter-spacing: 3px;
    padding-bottom: 15px;
    border-bottom: 3px solid transparent;
    transition: 400ms ease;
    display: inline-block;
    text-decoration: none;
  }

  .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #3695d2;
    transition: width .4s;
    margin-top: 6px;
  }
  
  .nav-link:hover {
    color: #4e4e4f !important;
    transition: 400ms ease;
  }

  .nav-link:hover:after {
    width: 100%;
  }
  
  .nav-item {
    margin: 0 15px;
  }


  .part-2 {
      background: #4e4e4f;
      color: #fff;
      text-align: left;
      padding: 5%;
      padding-left: 2%;
      padding-right: 2%;
  }

  .footer-title {
      color: #f26d6f;
  }

  .part-3 {
    background: #fff;
    color: #4e4e4f;
    text-align: left;
    padding: 5%;
    padding-left: 2%;
    padding-right: 2%;
  }

  .part-3 h3, h1 {
      color: #3695d2;
  }

  .upcoming-courses h1 {
    text-align: center;
    margin-top: 35px !important;
    color: #3695d2;
  }

  .upcoming-courses {
    min-height: 100vh;
    color: #4e4e4f;
    background: #f8f8f8;
    padding-left: 65px;
    padding-right: 65px;
    padding-bottom: 55px !important;
  }

  .card-container {
    background: #fff;
    text-align: left;
    margin-top: 45px !important;
    border: 1px solid rgba(51, 51, 51, 0.1);
    padding: 25px 0px 0px 0px;
    border-radius: 6px;
  }

  .card-left {
    text-align: center;
  }

  .card-btn-1 {
    margin-top: 20px;
    color: #fff;
    border: 3px solid #3695d2;
    background: rgba(54, 149, 210, 1);
    border-radius: 40px;
    height: 50px;
    padding-left: 45px;
    padding-right: 45px;
    transition: 300ms;
  }
  .card-btn-2 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    border: 3px solid #f26d6f;
    background: #f26d6f;
    border-radius: 40px;
    height: 50px;
    padding-left: 45px;
    padding-right: 45px;
    transition: 300ms;
  }

  .card-btn-1:hover {
    background: transparent;
    border: solid 3px #3695d2;
    color: #3695d2;
    transition: 300ms;
  }
  .card-btn-2:hover {
    background: transparent;
    border: solid 3px #f26d6f;
    color: #f26d6f;
    transition: 300ms;
  }
  
  .card-list     	     {
		list-style: none;
       }
       ul li {
         margin-bottom: 15px;
       }

.card-list li:before {
		content: "\2192 \0020";
       }
       
       .schedule {
         color: #fff;
         text-align: center;
         background: #3695d2;
         padding: 40px 10%;
         padding-bottom: 70px !important;
         margin-top: 45px;
         padding-bottom: 45px;
       }

       .subscribe-btn {
         width: 100%;
         border-radius: 6px;
         background: #f26d6f;
         border: 2px solid #f26d6f;
         height: 100%;
         color: #fff;
       }

       .course-row img {
         margin-bottom: 25px;
       }

       .course-row h5 {
        margin-bottom: 40px;
       }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-expansion-panel-header-description {
  flex-grow: 1 !important;
}

.mat-expansion-panel {
  background: transparent !important;
  color: #4e4e4f !important;
}

.mat-expansion-indicator::after, .mat-expansion-panel-header-description {
  color: #4e4e4f;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,0), 0 2px 2px 0 rgba(0,0,0,0), 0 1px 5px 0 rgba(0,0,0,0);
}

.corporate-training-bg-img {
  background-image: linear-gradient(to right, 
    rgb(51, 51, 51, 0.7), 
    rgb(51, 51, 51, 0.7)), 
    url("assets/img/backgrounds/Website_agileManifesto.jpg");
    min-height: calc(100vh - 154px) !important;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.get-started-segment {
  padding: 4% 0;
  background: #3695d2;
  color: #fff;
}

.get-started-icons {
  height: 25px; 
}

.data-square-1 {
  width: 100%;
  min-height: 150px;
  padding: 20px;
  background: #4e4e4f;
  color: #fff;
  border-radius: 6px;
  height: auto;
}

.data-square-2 {
  width: 100%;
  min-height: 150px;
  padding: 20px;
  background:#3695d2;
  color: #fff;
  border-radius: 6px;
  height: auto;
}