<div class="home-bg-img-2">
    <div class="row">
        <div style="color: #fefefe; padding: 100px;" class="col-12 main-title-2">
            <h1 class="">
                Connect With Us
            </h1>
        </div>
    </div>
</div>
<div class="row py-5 my-5">
    <div class="col-1"></div>
    <div class="col-5">
        <div class="row">
            <div class="col-4">
                <img style="padding-top: 20px;" class="contact-icons" src="../../assets/img/icons/maps-and-flags.svg">
            </div>
            <div class="col-8">
                <h5 style="font-weight: 900;" class="text-left pt-4">
                    Location
                </h5>
                <h5>
                    3966 Atlanta Highway, PMB 355
                    <br>
                    Montgomery, AL 36109
                </h5>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="row">
            <div class="col-4">
                <img class="contact-icons" src="../../assets/img/icons/envelope.svg">
            </div>
            <div class="col-8">
                <h5 style="font-weight: 900;" class="text-left pt-4">
                    Chapter Email Address
                </h5>
                <h5>
                    info@afceamontgomery.org
                </h5>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>