<div class="home-bg-img">
    <div class="row">
        <div class="col-12 main-title-2">
            <h1>
                Don't Drown in Waterfall,
            </h1>
            <h1>
                Become Agile
            </h1>
            <h5>
                Agile is revolutionizing the way work gets done and can dramatically improve job and team satisfaction,
                collaboration and product quality.
            </h5>
            <div class="col text-center">
                <button type="button" class="get-started-btn text-center">Get Started</button>
            </div>
        </div>
    </div>

</div>

<div class="row part-2">
    <div class="col-3"></div>
    <div class="col-6 text-center">
        <h1 style="color: #f26d6f;">
            Why Agile?
        </h1>
        <h5>
            To meet the growing need for agile-certified roles within San Antonio, UTSA now offers certification tracks
            in International Consortium for Agile (ICAgile) and Scaled Agile Framework (SAFe).
        </h5>
    </div>
    <div class="col-3"></div>
    <div class="row" style="margin-top: 35px !important;">
        <div class="col-4">
            <h5 class="footer-title">
                <span style="font-size: 30px;">
                    01
                </span>
                A Growing Demand
            </h5>
            <h6>
                Agile has been quick to dominate as major companies across the world are embracing the mindset. In the
                U.S.
                federal government, agile methods have risen from 10% in 2002 to 80% in 2017, and it continues to rise.

            </h6>
        </div>
        <div class="col-4">
            <h5 class="footer-title">
                <span style="font-size: 30px;">
                    02
                </span>
                Proven Success
            </h5>
            <h6>
                Agile projects are 28% more successful than traditional/waterfall approaches.
                The four values of the <span class="footer-title">Agile Manifesto</span> set the tone for successful
                projects, leading to
                rapidly delivered products that meet customer expectations.

            </h6>
        </div>
        <div class="col-4">
            <h5 class="footer-title">
                <span style="font-size: 30px;">
                    03
                </span>
                Customer-Centric Outcomes
            </h5>
            <h6>
                Agile projects are distinguished by a people over process mindset that prioritizes customers’ actual
                needs.
                Through customer integration in the development process, Agile harmonizes team members to focus on
                value-driven
                outcomes.
            </h6>
        </div>
    </div>
</div>

<!-- <div class="row part-3 text-center">
    <div class="col-12">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <h1>
                    Agile at AFCEA
                </h1>
                <h5>
                    Whether you are new to the agile world or a practitioner who recognizes the need to focus on
                    'being' agile in addition to 'doing' agile,
                    the expertise of who you learn from is as valuable as the substance of the content.
                </h5>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row" style="margin-top: 50px !important;">
            <div class="col-5">
                <h3>
                    Open Enrollment
                </h3>
                <h6>
                    UTSA welcomes anyone who is seeking the agile mindset. Open enrollment courses offer the opportunity
                    for community members to learn from subject matter experts and network with fellow Agilists.
                </h6>
                <button type="button" class="get-started-btn text-center">Find Courses</button>
            </div>
            <div class="col-2"></div>
            <div class="col-5">
                <h3>
                    Customized Training
                </h3>
                <h6>
                    Whether you work within an enterprise that is scaling agile and are looking for role-based Agile
                    training
                    or you are seeking to foster an agile mindset, UTSA can help your organization on the agile journey.
                </h6>
                <button type="button" class="get-started-btn text-center">Learn More</button>
            </div>
        </div>
    </div>
</div> -->