<div class="corporate-training-bg-img">
    <div class="row">
        <div class="col-12 main-title">
            <h1>
                Corporate Training
            </h1>
            <h5>
                We can create custom Agile training solutions to meet your organization's needs.
            </h5>
        </div>
    </div>
</div>
<div class="row get-started-segment">
    <div class="col-12">
        <h1 class="text-center">
            Get Started
        </h1>
        <div class="row">
            <div class="col-4">
                <h3>
                    <img class="get-started-icons" src="../../assets/img/icons/magnifying-glass-search.svg">
                    Identify Outcomes
                </h3>
                <p>
                    Your journey towards a better business agility startes by
                    identifying what outcomes are most important to your organization's success.
                    We can help you determine what training best satisfies yourdesired business outcome.
                </p>
            </div>
            <div class="col-4">
                <h3>
                    <img class="get-started-icons" src="../../assets/img/icons/hand-shake.svg">
                    Match Training to People
                </h3>
                <p>
                    What agile-certified roles can help your organization
                    begin the transformation? We believe that focusing people and process provide the best
                    success. We support an entire catalog of agile-certified roles.
                </p>
            </div>
            <div class="col-4">
                <h3>
                    <img class="get-started-icons" src="../../assets/img/icons/open-book.svg">
                    On-Site Instruction
                </h3>
                <p>
                    We can facilitate training at your organization or on campus
                    We provide comprehensive coordination of instructors, participants and resources to
                    seamlessley support your Agile integration.
                </p>
            </div>
        </div>
    </div>
</div>