<div class="corporate-training-bg-img">
    <div class="row">
        <div class="col-12 main-title-2">
            <h1>
                Corporate Training
            </h1>
            <h5>
                We can create custom Agile training solutions to meet your organization's needs.
            </h5>
        </div>
    </div>
</div>
<div class="row get-started-segment">
    <div class="col-12">
        <h1 class="text-center" style="color: #fff; margin-bottom: 35px;">
            Get Started
        </h1>
        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <h3>
                    <img class="get-started-icons" src="../../assets/img/icons/magnifying-glass-search.svg">
                    Identify Outcomes
                </h3>
                <p>
                    Your journey towards a better business agility startes by
                    identifying what outcomes are most important to your organization's success.
                    We can help you determine what training best satisfies yourdesired business outcome.
                </p>
            </div>
            <div class="col">
                <h3>
                    <img class="get-started-icons" src="../../assets/img/icons/hand-shake.svg">
                    Match Training to People
                </h3>
                <p>
                    What agile-certified roles can help your organization
                    begin the transformation? We believe that focusing people and process provide the best
                    success. We support an entire catalog of agile-certified roles.
                </p>
            </div>
            <div class="col">
                <h3>
                    <img class="get-started-icons" src="../../assets/img/icons/open-book.svg">
                    On-Site Instruction
                </h3>
                <p>
                    We can facilitate training at your organization or on campus
                    We provide comprehensive coordination of instructors, participants and resources to
                    seamlessley support your Agile integration.
                </p>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8 my-4 text-center p-4" style="color: #4e4e4f;">
        <h2 class="mt-4">
            Agile: The New Norm
        </h2>
        <p class="mt-4">
            Adoption of Agile methodologies to improve
            business and project outcomes is spreading across
            the nation at an accelerated rate.
        </p>
        <h2 class="mt-4 pt-5">
            People, Quality, Satisfaction
        </h2>
        <p class="mt-4">
            Based on research conducted by the Hewlett
            Packard of 601 development and IT professionals,
            Agile project management has been adopted by a majority of development teams and now dwarfs
            waterfalls approaches.
        </p>
        <p class="mt-4">
            When asked to reveal their beleifs about the Agile process,
            respondents revealed team collaboration, product quality and customer
            satisfaction as the primary motivators for adopting agile development
            practices.
        </p>
        <h6 class="mt-4" style="color: #f26d6f">
            Hewlett Packard Survey
        </h6>
    </div>
    <div class="col-2"></div>
</div>
<div class="row text-center my-4 pt-5" style="margin-bottom: 30px !important;">
    <div class="col">
        <div class="data-square-1">
            <h3>
                54%
            </h3>
            <p>
                Enhances collaboration between teams
            </p>
        </div>

    </div>
    <div class="col">
        <div class="data-square-2">
            <h3>
                52%
            </h3>
            <p>
                Increases product quality
            </p>
        </div>

    </div>
    <div class="col">
        <div class="data-square-1">
            <h3>
                49%
            </h3>
            <p>
                Results in increased customer satisfaction
            </p>
        </div>

    </div>
    <div class="col">
        <div class="data-square-2">
            <h3>
                43%
            </h3>
            <p>
                Shortens time to market
            </p>
        </div>

    </div>
    <div class="col">
        <div class="data-square-1">
            <h3>
                42%
            </h3>
            <p>
                Reduces cost of development
            </p>
        </div>
    </div>
</div>
<div class="row text-center mb-4 pb-5" style="margin-bottom: 30px !important;">
    <div class="col">
        <h1>
            71%
        </h1>
        <p>
            of organizations report using
            agile approaches sometimes, often or always.
        </p>
        <h6 style="color: #f26d6f;">
            Project Management Institute
        </h6>

    </div>
    <div class="col-1"></div>
    <div class="col">
        <h1>
            49%
        </h1>
        <p>
            of top managers say that Scrum's
            success is it's uncompromising customer focus.
        </p>
        <h6 style="color: #f26d6f;">
            Forbes
        </h6>
    </div>
    <div class="col-1"></div>
    <div class="col">
        <h1>
            37%
        </h1>
        <p>
            of marketers have reported using
            agile for their campain strategies.
        </p>
        <h6 style="color: #f26d6f;">
            Agile Sherpas
        </h6>
    </div>
</div>
<div class="upcoming-training-courses-bg-img">
    <div class="row">
        <div class="col-12 main-title-2 pt-5">
            <h1>
                Upcoming Training Events
            </h1>
            <h5 class="mt-5">
                Whether you are new to the agile mindset or a
                seasoned practitioner who is looking to upskill,
                we offer agile training courses at all expertise levels. </h5>
        </div>
    </div>
</div>
<div style="position: relative; top: -100px;" class="row pb-5">
    <div class="col-md-4">
        <div class="row card-container">
            <div class="col-md-12 card-left">
                <h3>
                    SAFe Scrum Master
                </h3>
                <h6>
                    December 5-6, 2019
                </h6>
                <img src="../../assets/img/logos/scrum_master (1).png">
                <div class="row">
                    <div class="col-12 text-center">
                        <button type="button" class="card-btn-2 text-center">Register Now</button>
                    </div>
                </div>

                <hr>
            </div>
            <mat-expansion-panel>
                <mat-expansion-panel-header class="expansion-header">
                    <mat-panel-title>
                        <!-- Learn More -->
                    </mat-panel-title>
                    <mat-panel-description class="text-center">
                        Learn More
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="col-md-12 card-right">
                    <p>
                        As the demand for SAFe expertise accelerates globally, there is a growing focus on the
                        Scrum
                        Master
                        and the critical role that person plays in a SAFe implementation. The SSM credential is
                        a
                        must
                        have
                        certification for Scrum Masters looking to boost their value in today’s career
                        marketplace.
                    </p>
                    <p style="margin-top: 15px;">
                        Unlike traditional Scrum Master training that focuses on the fundamentals of team-level
                        Scrum,
                        the Scaled Agile Framework (SAFe) Scrum Master course explores the role of the Scrum
                        Master
                        in
                        the context of the entire enterprise.
                    </p>
                    <hr>
                    <p>
                        What's Inlcuded:

                    </p>
                    <ul class="card-list">
                        <li>Attendee Workbook</li>
                        <li>Course certificate</li>
                        <li>Catered breakfast and lunch</li>
                        <li>Eligibility to take the SAFe® 4 Scrum Master (SSM) exam</li>
                        <li>One year membership to the SAFe Community Platform</li>
                    </ul>
                </div>
            </mat-expansion-panel>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row card-container">
            <div class="col-md-12 card-left">
                <h3>
                    SAFe POPM
                </h3>
                <h6>
                    December 5-9, 2019
                </h6>
                <img src="../../assets/img/logos/product_owner_product_mngr.png">
                <div class="row">
                    <div class="col-12 text-center">
                        <button type="button" class="card-btn-2 text-center">Register Now</button>
                    </div>
                </div>

                <hr>
            </div>
            <mat-expansion-panel>
                <mat-expansion-panel-header class="expansion-header">
                    <mat-panel-title>
                        <!-- Learn More -->
                    </mat-panel-title>
                    <mat-panel-description class="text-center">
                        Learn More
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="col-md-12 card-right">
                    <p>
                        SAFe is improving business outcomes for companies across the world.
                        Delivering maximum business value amid digital disruption and getting the
                        business results needed is what SAFe Product Owners and Product Managers do
                        through effective Program Increment execution.
                    </p>
                    <p style="margin-top: 15px;">
                        Learn the skillsets needed to guide the delivery of value in a Lean enterprise and the
                        activities, tools, and mechanics used to manage backlogs and programs.
                    </p>
                    <hr>
                    <p>
                        What's Inlcuded:

                    </p>
                    <ul class="card-list">
                        <li>Attendee Workbook</li>
                        <li>Course certificate</li>
                        <li>Catered breakfast and lunch</li>
                        <li>Eligibility to take the SAFe® 4 Product Owner/Product Manager (POPM) exam</li>
                        <li>One year membership to the SAFe Community Platform</li>
                    </ul>
                </div>
            </mat-expansion-panel>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row card-container">
            <div class="col-md-12 card-left">
                <h3>
                    Agile Fundamentals
                </h3>
                <h6>
                    January 23-24, 2020
                </h6>
                <img src="../../assets/img/logos/agile_fundamentals.png">
                <div class="row">
                    <div class="col-12 text-center">
                        <button type="button" class="card-btn-2 text-center">Register Now</button>
                    </div>
                </div>

                <hr>
            </div>
            <mat-expansion-panel>
                <mat-expansion-panel-header class="expansion-header">
                    <mat-panel-title>
                        <!-- Learn More -->
                    </mat-panel-title>
                    <mat-panel-description class="text-center">
                        Learn More
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="col-md-12 card-right">
                    <p>
                        The two-day Agile Fundamentals course emphasizes starting with an Agile mindset,
                        not a single methodology or framework. Course participants come away with a solid
                        understanding of core concepts as they prepare to embark on their agile journey.
                    </p>
                    <p style="margin-top: 15px;">
                        For those who want a good introduction to some widely applied Agile frameworks and
                        practices.
                        Participants will get a solid understanding of the processes and the environment of an
                        agile
                        project,
                        and the tools and techniques used in delivering value the agile way.
                    </p>
                    <hr>
                    <p>
                        What's Inlcuded:

                    </p>
                    <ul class="card-list">
                        <li>Attendee Workbook</li>
                        <li>Course certificate</li>
                        <li>Catered breakfast and lunch</li>
                        <li>Awarded Agile Fundamentals (ICP) Certification</li>
                        <li>ICP is the first certification on the ICAgile Roadmap</li>
                    </ul>
                </div>
            </mat-expansion-panel>
        </div>
    </div>
</div>