<div class=" py-5" style="padding-bottom: 40px;">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 text-center p-5">
            <h1 style="color: #474747;">
                Expert Instructors
            </h1>
            <h5>
                Our instructors have certified over 2,000 aspiring Agilists in the
                last
                <br>
                two years as ICAgile affiliates
                and Scaled Agile Gold Partners.
            </h5>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="img-container">
                <div class="content">
                    <div class="content-overlay"></div>
                    <img class="content-image" src="../../assets/img/instructors/Erik_Hansen.png">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">
                            Erik Hansen
                        </h3>
                        <p class="content-text">
                            Erik Hansen is an agile native and experienced software engineer
                            lead with 5 years experience designing and developing robust,
                            user-focused solutions that drive breakthrough efficiency,
                            value addition and bottom line results. This includes 4 years
                            experience leading software development teams, managing
                            multimillion-dollar, mission critical projects for the DoD.
                        </p>
                        <!-- He is skilled in software development lifecycle phases including
                            system administration, expertise in translating business needs
                            into technical solutions, extreme communication and cross team
                            growth, application development, service-oriented architecture,
                            and enterprise release management. -->
                        <p>
                            Hansen graduated from Rice University with a B.S. in
                            Bioengineering. He then attended the San Antonio based
                            Web Development bootcamp Codeup. He is a certified SAFe
                            4 Program Consultant and ICAgile Authorized Instructor.
                            He is certified at all levels of SAFe Framework and can
                            teach Leading SAFe, SAFe Scrum Master, Advanced Scrum Master,
                            Lean Portfolio Management, Product Owner/Product Management,
                            SAFe DevOps, SAFe Architect in addition to Agile courses like
                            ICAgile Agile Fundamentals, ICAgile Agile Team Facilitation,
                            ICAgile Agile Programming & ICAgile DevOps Foundations.
                        </p>
                    </div>
                </div>
            </div>
            <h3 class="text-center">
                Erik Hansen
            </h3>
            <h4 class="text-center">
                Trainer-SPC, RTE
            </h4>
        </div>
        <div class="col-md-4">
            <div class="img-container">
                <div class="content">
                    <div class="content-overlay"></div>
                    <img class="content-image" src="../../assets/img/instructors/Tim_Porter.png">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">Timothy Porter</h3>
                        <p class="content-text">
                            Timothy Porter is an Army veteran of 10 years.
                            He achieved the rank of Sergeant First Class within 7 years.
                            After being involved in a bomb explosion, Porter was medically
                            retired and began pursuing his passion: technology. In 2009, after
                            teaching himself how to develop mobile apps, Appddiction Studio was
                            formed. In 2011, Appddiction Studio was nationally recognized by the
                            USA Network Channel. Porter was one of their USA Character Unite Award
                            winners for developing an award-winning anti-bullying App for schools.
                            Appddiction Studio has developed well over 200 commercial mobile apps
                            and has become a leader in Enterprise transformations focusing on Agile
                            and the SAFe Framework.
                        </p>
                        <p>
                            Porter has multiple degrees in Management Information
                            Systems and holds an MBA. He is an SPC and RTE and has performed
                            roles for Appddiction Studio as Scaled program Consultant, Enterprise
                            Coach & Trainer, Agile Coach, Release Train Engineer to Scrum Master.
                            Appddiction Studio has been performing for programs supporting Gunter
                            AFB as a Prime Contractor in: Agile Coaching, EODIMS JST & EODIMS Backlog
                            Burndown and now as a subcontractor on ACES FoS.

                            <!--
                            Porter has taught over 50 public/private SAFe classes and
                            has submitted his packet for consideration to become SPCT Gold
                            Partner. He is certified at all levels of SAFe Framework and teaches
                            Leading SAFe, SAFe Scrum Master, Advanced Scrum Master, Lean Portfolio
                            Management, Product Owner/Product Management, SAFe DevOps, SAFe Architect
                            in addition to Agile courses like ICAgile Agile Fundamentals, ICAgile Agile
                            Team Facilitation, ICAgile Agile Programming & ICAgile DevOps Foundations. -->
                        </p>
                    </div>
                </div>
            </div>
            <h3 class="text-center">
                Timothy Porter
            </h3>
            <h4 class="text-center">
                Trainer-SPC, RTE
            </h4>
        </div>
        <div class="col-md-4">
            <div class="img-container">
                <div class="content">
                    <div class="content-overlay"></div>
                    <img class="content-image" src="../../assets/img/instructors/Anthony_Ortega.png">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">Anthony Ortega</h3>
                        <p class="content-text">
                            Anthony Ortega is an instructor for Appddiction Studio with over
                            15 years of experience architecting, automating, designing, and
                            implementing enterprise applications across multiple industries for
                            large organizations, small companies, non-profits, and government
                            organizations. Ortega has trained and developed over 300 software
                            developers in his career, many of whom he continues to mentor.Ortega’s
                            ability to help developers look at software development with ownership
                            and pride speaks to his passion for his craft. Ortega has a B.S. in Computer
                            Science with minor in Mathematics from the University of Texas at San Antonio.
                        </p>
                        <p>
                            Ortega is a certified SAFe 4 Program Consultant and ICAgile Authorized Instructor. He is
                            certified at all levels of SAFe Framework and can teach Leading SAFe, SAFe Scrum Master,
                            Advanced Scrum Master, Lean Portfolio Management, Product Owner/Product Management, SAFe
                            DevOps, SAFe Architect in addition to Agile courses like ICAgile Agile Fundamentals, ICAgile
                            Agile Team Facilitation, ICAgile Agile Programming and ICAgile DevOps Foundations.</p>
                    </div>
                </div>
            </div>
            <h3 class="text-center">
                Anthony Ortega
            </h3>
            <h4 class="text-center">
                Trainer-SPC, SDP
            </h4>
        </div>
    </div>
</div>
<div class="upcoming-training-courses-bg-img">
    <div class="row">
        <div class="col-12 main-title-2 pt-5">
            <h1>
                Upcoming Training Events
            </h1>
            <h5 class="mt-5">
                Whether you are new to the agile mindset or a
                seasoned practitioner who is looking to upskill,
                we offer agile training courses at all expertise levels. </h5>
        </div>
    </div>
</div>
<div style="position: relative; top: -100px;" class="row pb-5">
    <div class="col-md-4">
        <div class="row card-container">
            <div class="col-md-12 card-left">
                <h3>
                    SAFe Scrum Master
                </h3>
                <h6>
                    December 5-6, 2019
                </h6>
                <img src="../../assets/img/logos/scrum_master (1).png">
                <div class="row">
                    <div class="col-12 text-center">
                        <button type="button" class="card-btn-2 text-center">Register Now</button>
                    </div>
                </div>

                <hr>
            </div>
            <mat-expansion-panel>
                <mat-expansion-panel-header class="expansion-header">
                    <mat-panel-title>
                        <!-- Learn More -->
                    </mat-panel-title>
                    <mat-panel-description class="text-center">
                        Learn More
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="col-md-12 card-right">
                    <p>
                        As the demand for SAFe expertise accelerates globally, there is a growing focus on the
                        Scrum
                        Master
                        and the critical role that person plays in a SAFe implementation. The SSM credential is
                        a
                        must
                        have
                        certification for Scrum Masters looking to boost their value in today’s career
                        marketplace.
                    </p>
                    <p style="margin-top: 15px;">
                        Unlike traditional Scrum Master training that focuses on the fundamentals of team-level
                        Scrum,
                        the Scaled Agile Framework (SAFe) Scrum Master course explores the role of the Scrum
                        Master
                        in
                        the context of the entire enterprise.
                    </p>
                    <hr>
                    <p>
                        What's Inlcuded:

                    </p>
                    <ul class="card-list">
                        <li>Attendee Workbook</li>
                        <li>Course certificate</li>
                        <li>Catered breakfast and lunch</li>
                        <li>Eligibility to take the SAFe® 4 Scrum Master (SSM) exam</li>
                        <li>One year membership to the SAFe Community Platform</li>
                    </ul>
                </div>
            </mat-expansion-panel>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row card-container">
            <div class="col-md-12 card-left">
                <h3>
                    SAFe POPM
                </h3>
                <h6>
                    December 5-9, 2019
                </h6>
                <img src="../../assets/img/logos/product_owner_product_mngr.png">
                <div class="row">
                    <div class="col-12 text-center">
                        <button type="button" class="card-btn-2 text-center">Register Now</button>
                    </div>
                </div>

                <hr>
            </div>
            <mat-expansion-panel>
                <mat-expansion-panel-header class="expansion-header">
                    <mat-panel-title>
                        <!-- Learn More -->
                    </mat-panel-title>
                    <mat-panel-description class="text-center">
                        Learn More
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="col-md-12 card-right">
                    <p>
                        SAFe is improving business outcomes for companies across the world.
                        Delivering maximum business value amid digital disruption and getting the
                        business results needed is what SAFe Product Owners and Product Managers do
                        through effective Program Increment execution.
                    </p>
                    <p style="margin-top: 15px;">
                        Learn the skillsets needed to guide the delivery of value in a Lean enterprise and the
                        activities, tools, and mechanics used to manage backlogs and programs.
                    </p>
                    <hr>
                    <p>
                        What's Inlcuded:

                    </p>
                    <ul class="card-list">
                        <li>Attendee Workbook</li>
                        <li>Course certificate</li>
                        <li>Catered breakfast and lunch</li>
                        <li>Eligibility to take the SAFe® 4 Product Owner/Product Manager (POPM) exam</li>
                        <li>One year membership to the SAFe Community Platform</li>
                    </ul>
                </div>
            </mat-expansion-panel>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row card-container">
            <div class="col-md-12 card-left">
                <h3>
                    Agile Fundamentals
                </h3>
                <h6>
                    January 23-24, 2020
                </h6>
                <img src="../../assets/img/logos/agile_fundamentals.png">
                <div class="row">
                    <div class="col-12 text-center">
                        <button type="button" class="card-btn-2 text-center">Register Now</button>
                    </div>
                </div>

                <hr>
            </div>
            <mat-expansion-panel>
                <mat-expansion-panel-header class="expansion-header">
                    <mat-panel-title>
                        <!-- Learn More -->
                    </mat-panel-title>
                    <mat-panel-description class="text-center">
                        Learn More
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="col-md-12 card-right">
                    <p>
                        The two-day Agile Fundamentals course emphasizes starting with an Agile mindset,
                        not a single methodology or framework. Course participants come away with a solid
                        understanding of core concepts as they prepare to embark on their agile journey.
                    </p>
                    <p style="margin-top: 15px;">
                        For those who want a good introduction to some widely applied Agile frameworks and
                        practices.
                        Participants will get a solid understanding of the processes and the environment of an
                        agile
                        project,
                        and the tools and techniques used in delivering value the agile way.
                    </p>
                    <hr>
                    <p>
                        What's Inlcuded:

                    </p>
                    <ul class="card-list">
                        <li>Attendee Workbook</li>
                        <li>Course certificate</li>
                        <li>Catered breakfast and lunch</li>
                        <li>Awarded Agile Fundamentals (ICP) Certification</li>
                        <li>ICP is the first certification on the ICAgile Roadmap</li>
                    </ul>
                </div>
            </mat-expansion-panel>
        </div>
    </div>
</div>